@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.display {
    display: none;
}

.btn .next {
    margin-left: 2rem;
}


/* Styling the top section of the App */

.top {
    background-color: grey;
    height: 15vh;
    font-size: 4rem;
    /* text-align: center; */
    text-align: center;
    font-family: "poppins", sans-serif;
}


/* Stying the middle section of the App */

.container {
    display: flex;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    background-color: grey;
}

.points {
    font-size: 2rem;
}

.counts {
    font-size: 2rem;
    font-weight: 700;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
    height: 300px;
    border: 0.1px solid white;
}

.btn {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    text-decoration: none #6b7280 solid;
    text-decoration-thickness: auto;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.btn:hover {
    background-color: #374151;
}

.btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}


/* Styling the buttom section of the App */

.buttom {
    background-color: grey;
    height: 15vh;
    text-align: center;
}

.information {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 900;
}


/* Styling the next button */

.next {
    margin-left: 0.5rem;
}
.random {
    position: absolute;
    bottom: 23.5rem;
    margin-right: 20rem;
    /* top: 3rem */
}

.name {
    font-weight: 700;
    font-size: 30px;
}

.name2 {
    font-weight: 700;
    font-size: 30px;
}

.time {
    font-size: 2rem;
    margin-left: 1.5rem;
}

@media screen and (max-width: 949px) {
    body {
        /* display:none; */
        font-size: 5px;
    }
}
.again {
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 100;
  }
  .hidden {
    display: none;
  }

.show-modal {
    background-color: rgb(109, 14, 96);
    height:43vh;
    border-radius: 5rem;
    text-align: center;
    width: 30rem;
    font-weight: 80rem;
    font-size: 3rem;
    z-index: 100;
  }

  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
.modal{
    z-index: 100;
    transition: 2s linear;
}  
